.page-community-screencast, .page-search-result-caas-screencast, .page-community-article, .caas-page-context {
  .autodesk_styles_small {
    font-size: 14px;
  }

  .autodesk_styles_medium {
    font-size: 16px;
  }

  .autodesk_styles_large {
    font-size: 18px;
  }

  .autodesk_AlignLeft {
    text-align: left;
  }

  .autodesk_AlignRight {
    text-align: right;
  }

  .autodesk_AlignCenter {
    text-align: center;
  }

  .autodesk_brainshark_embed {
    width: 100%;
  }
}
.autodesk_brainshark_embed {
  width: 100%;
}