
.mini-icon-3dsmax, .mini-icon-a360, .mini-icon-aliasproducts, [class^="mini-icon-autocad"], [class^="mini-icon-bim360"],
.mini-icon-buildingdesignsuite, .mini-icon-buzzsaw, .mini-icon-entertainmentcreationsuite, .mini-icon-factorydesignsuite, .mini-icon-fusion360,
.mini-icon-greenbuildingstudio, .mini-icon-infrastructuredesignsuite, .mini-icon-infraworks360, [class^="mini-icon-inventor"],
.mini-icon-maya, .mini-icon-mockup360, [class^="mini-icon-moldflow"], .mini-icon-navisworks, .mini-icon-navisworksproducts, .mini-icon-plantdesignsuite, .mini-icon-plm360,
.mini-icon-processanalysis, .mini-icon-processanalysis360, .mini-icon-productdesignsuite, .mini-icon-recap360, .mini-icon-revit,
.mini-icon-revitproducts, .mini-icon-vault, .mini-icon-vaultproducts {
  display: inline-block;
  background: url('../images/standard/mini-icons.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.mini-icon-3dsmax {
  background-position: -0px -0px;
  width: 27px;
  height: 27px;
}
.mini-icon-a360 {
  background-position: -27px -0px;
  width: 27px;
  height: 27px;
}
.mini-icon-aliasproducts {
  background-position: -54px -0px;
  width: 27px;
  height: 27px;
}
[class^="mini-icon-autocad"] {
  background-position: -81px -0px;
  width: 27px;
  height: 27px;
}
[class^="mini-icon-bim360"] {
  background-position: -0px -54px;
  width: 27px;
  height: 27px;
}
.mini-icon-buildingdesignsuite {
  background-position: -81px -54px;
  width: 27px;
  height: 27px;
}
.mini-icon-buzzsaw {
  background-position: -108px -54px;
  width: 27px;
  height: 27px;
}
.mini-icon-entertainmentcreationsuite {
  background-position: -135px -54px;
  width: 27px;
  height: 27px;
}
.mini-icon-factorydesignsuite {
  background-position: -0px -81px;
  width: 27px;
  height: 27px;
}
.mini-icon-fusion360 {
  background-position: -27px -81px;
  width: 27px;
  height: 27px;
}
.mini-icon-greenbuildingstudio {
  background-position: -54px -81px;
  width: 27px;
  height: 27px;
}
.mini-icon-infrastructuredesignsuite {
  background-position: -81px -81px;
  width: 27px;
  height: 27px;
}
.mini-icon-infraworks360 {
  background-position: -108px -81px;
  width: 27px;
  height: 27px;
}
[class^="mini-icon-inventor"] {
  background-position: -135px -81px;
  width: 27px;
  height: 27px;
}
.mini-icon-maya {
  background-position: -27px -108px;
  width: 27px;
  height: 27px;
}
.mini-icon-mockup360 {
  background-position: -54px -108px;
  width: 27px;
  height: 27px;
}
[class^="mini-icon-moldflow"] {
  background-position: -81px -108px;
  width: 27px;
  height: 27px;
}
.mini-icon-navisworks {
  background-position: -27px -135px;
  width: 27px;
  height: 27px;
}
.mini-icon-navisworksproducts {
  background-position: -54px -135px;
  width: 27px;
  height: 27px;
}
.mini-icon-plantdesignsuite {
  background-position: -81px -135px;
  width: 27px;
  height: 27px;
}
.mini-icon-plm360 {
  background-position: -108px -135px;
  width: 27px;
  height: 27px;
}
.mini-icon-processanalysis {
  background-position: -135px -135px;
  width: 27px;
  height: 27px;
}
.mini-icon-processanalysis360 {
  background-position: -0px -162px;
  width: 27px;
  height: 27px;
}
.mini-icon-productdesignsuite {
  background-position: -27px -162px;
  width: 27px;
  height: 27px;
}
.mini-icon-recap360 {
  background-position: -54px -162px;
  width: 27px;
  height: 27px;
}
.mini-icon-revit {
  background-position: -81px -162px;
  width: 27px;
  height: 27px;
}
.mini-icon-revitproducts {
  background-position: -108px -162px;
  width: 27px;
  height: 27px;
}
.mini-icon-vault {
  background-position: -135px -162px;
  width: 27px;
  height: 27px;
}
.mini-icon-vaultproducts {
  background-position: -0px -189px;
  width: 27px;
  height: 27px;
}
